#helpMenu ?
#menu-catch.float-menu
  .left
    a.control#resetGame(href="javascript: void(0);") Novo Jogo
  .right
    a.control#viewProgress(href="javascript: void(0);") Ver Progresso
#language
  a.language-selector.active(data-lang="pt-BR")
    img(src="./images/pt-BR.png", alt="Português")
  a.language-selector(data-lang="en-US")
    img(src="./images/en-US.png", alt="English")