$menu-background: rgba(55,255,255,0.6);
$menu-color: rgba(0,0,55,1);
.float-menu {
  bottom: 0px;
  display: block;
  height: 120px;
  left: 0px;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 99;
  .left {
    display: inline-block;
    width: 49%;
  };
  .right {
    display: inline-block;
    width: 49%;
  }
  .control {
    cursor: pointer;
    background: $menu-background;
    border-radius: 3px;
    color: $menu-color;
    font-weight: bold;
    padding: 1em 1.5em;
    text-decoration: none;
    &:active, &:focus {
      text-decoration: underline;
    }
  }
}

#helpMenu {
  background: rgba(255,255,255,0.5);
  border-radius: 100%;
  cursor: pointer;
  display: block;
  font-size: 1.4em;
  font-weight: bolder;
  height: 3em;
  left: 1em;
  line-height: 3;
  position: fixed;
  top: 1em;
  text-align: center;
  width: 3em;
  &:hover {
    background: #ffffff;
  }
}
.close {
  display: block;
  margin: 1em auto;
  text-align: center;
  width: 100%;
}

#language {
 position: fixed;
 top: 1em;
 right: 1em;
 display: block;
 .language-selector {
   display: inline-block;
   opacity: 0.5;
   cursor: pointer;
   border: 1px solid #222;
   padding: 0;
   line-height: 0;
   margin-right: 0.5em;
   &.active, &:hover {
     opacity: 1;
   }
 } 
}